.DS_Store
.idea/
.vscode/
09-ci-04-jenkins/infrastructure/inventory/cicd/hosts.yml
09-ci-04-jenkins/infrastructure/inventory/cicd/hosts.yml
09-ci-04-jenkins/infrastructure/inventory/cicd/hosts.yml
08-ansible-03-yandex/terraform/src/hosts.yml
